@import "~bootstrap/scss/bootstrap";

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo-container {
            width: 55px;

            img {
                width: 100%;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;


            li a {
                color: black;
                padding: 31px 7px;
                font-size: 12px;

                &:hover,
                &.active {
                    color: #0282f9;
                }

                &.active {
                    border-bottom: 3px solid #0282f9;
                }
            }

            input{
                border: none;
                border-bottom: 3px solid #0282f9;
                width: 150px;
                margin-left: 50px;
                font-size: 12px;
                color: black;
                text-align: end;
            }

            .fa-solid.fa-magnifying-glass{
                border-bottom: 3px solid #0282f9;
                padding: 4px;
                font-size: 12px;
            }
        }
    }
}

.jumbotron {
    background-image: url(../../public/img/jumbotron.jpg);
    height: 350px;
    background-size: cover;
    position: relative;
    margin-top: 75px;
}

main{
    background-color: #1c1c1c;
    padding-top: 75px;
    position: relative;

    .container.jumbo {
        position: absolute;
        left: 20%;
        top: -22px;
        padding-bottom: 0;

        .label {
            background-color: #0282f9;
            padding: 10px;
            color: white;
            font-size: 20px;
            font-weight: bold;
        }
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 50px;
        width: 60%;

        .button {
            background-color: #0282f9;
            padding: 10px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 20px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%);
            width: 150px;
            text-align: center;
        }
    }

    .thumb {
        width: 9vw;
        height: 9vw;
        color: white;
        margin-bottom: 70px;
        cursor: pointer;
    
        .img-thumb-container {
            height: 100%;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .thumb-title {
            margin-top: 15px;
            font-size: 10px;
            text-transform: uppercase;
        }
    }

    .features {
        background-color:#0282f9;
        color: white;


        .container-features {
            width: 55%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap
        }

        .feat {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 18%;
            padding: 40px 20px;
        }

        .img-container {
            width: 40px;

            img {
                width: 100%;
            }
        }

        .feat-text {
            padding-left: 10px;
            font-size: 11px;
        }
    }

}

footer {
    
    .site-info {
        min-height: 100px;
        background-image: url("../../public/img/footer-bg.jpg");
        background-size: cover;

        .container {
            display: flex;
            justify-content: flex-start;
            padding: 40px 0;
            background-image: url(../../public/img/dc-logo-bg.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 50%;
        }

        .col {
            color: white;
            margin-right: 20px;

            h2 {
                margin: 5px 0;
                font-size: 18px;
            }

            li {

                a {
                    color: #5b6263;
                    font-size: 12px;
                }
            }
        }
    }

    .info-social {
        background-color: #303030;
        padding: 30px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button {
                color: white;
                padding: 10px;
                font-size: 18px;
                border: 2px solid #0282f9;
            }

            h2 {
                color: #0282f9;
            }

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    margin: 0 10px;
                }
            }
        }
    }
}
